<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index page</title>
</head>
<body>
  <form action="/" method="post">
    <input type="text" name="name">
    <input type="password" name="password">
    <button type="submit">Send data</button>
  </form>
  <div style="display: flex; justify-content: center; width: 100%; align-items: center; flex-direction: column;">
    <% if (!users.length) { %>
      <p>Not users yet</p>
    <% }  else { %>
      <% users.forEach(item => { %>
        <p>Name: <%- item.name %>, Password: <%- item.password %></p>
      <% }) %>
    <% } %>
  </div>
</body>
</html>